In [328]:
import pandas as pd

In [329]:
labels = []
insts = []
values = []

In [330]:
data = {
    'label':labels,
    'inst':insts,
    'value':values
}

In [331]:
f = open('rsc\\inputs\\input_program.txt','r')

In [332]:
for line in f.readlines():
    temp = line.split('\t')
    if temp[1] == '.\n' or temp[1] == '.':
        continue
    else:
        labels.append(temp[1])
        insts.append(temp[2])
        t = temp[3]
        if t[len(t)-1:len(t)] == '\n':
            print('hereeee')
            values.append(t[0:-1])
        else:
            values.append(t)

hereeee
hereeee
hereeee
hereeee

In [333]:
df = pd.DataFrame(data)
pd.set_option('display.max_rows', 100)
df

     label   inst     value
0     COPY  START      1000
1    FIRST    STL    RETADR
2    CLOOP   JSUB     RDREC
3             LDA    LENGTH
4            COMP      ZERO
5             JEQ    ENDFIL
6            JSUB     WRREC
7               J     CLOOP
8   ENDFIL    LDA       EOF
9             STA    BUFFER
10            LDA     THREE
11            STA    LENGTH
12           JSUB     WRREC
13            LDL    RETADR
14           RSUB
15     EOF   BYTE    C'EOF'
16   THREE   WORD         3
17    ZERO   WORD         0
18  RETADR   RESW         1
19  LENGTH   RESW         1
20  BUFFER   RESB      4096
21   RDREC    LDX      ZERO
22            LDA      ZERO
23   RLOOP     TD     INPUT
24            JEQ     RLOOP
25             RD     INPUT
26           COMP      ZERO
27            JEQ      EXIT
28           STCH  BUFFER,X
29            TIX    MAXLEN
30            JLT     RLOOP
31    EXIT    STX    LENGTH
32           RSUB
33   INPUT   BYTE     X'F1'
34  MAXLEN   WORD      4096