In [90]:
import pandas as pd
import locationCounter

In [91]:
labels = []
insts = []
values = []

In [92]:
data = {
    'label':labels,
    'inst':insts,
    'value':values
}

In [93]:
f = open('rsc\\inputs\\input_program.txt','r')

In [94]:
for line in f.readlines():
    temp = line.split('\t')
    if temp[1] == '.\n' or temp[1] == '.':
        continue
    else:
        labels.append(temp[1])
        insts.append(temp[2])
        t = temp[3]
        if t[len(t)-1:len(t)] == '\n':
            print('hereeee')
            values.append(t[0:-1])
        else:
            values.append(t)

hereeee
hereeee
hereeee
hereeee
hereeee

In [95]:
df = pd.DataFrame(data)
pd.set_option('display.max_rows', 100)
df

     label   inst     value
0     COPY  START      1000
1    FIRST    STL    RETADR
2    CLOOP   JSUB     RDREC
3             LDA    LENGTH
4            COMP      ZERO
5             JEQ    ENDFIL
6            JSUB     WRREC
7               J     CLOOP
8   ENDFIL    LDA       EOF
9             STA    BUFFER
10            LDA     THREE
11            STA    LENGTH
12           JSUB     WRREC
13            LDL    RETADR
14           RSUB
15     EOF   BYTE    C'EOF'
16   THREE   WORD         3
17    ZERO   WORD         0
18  RETADR   RESW         1
19  LENGTH   RESW         1
20  BUFFER   RESB      4096
21   RDREC    LDX      ZERO
22            LDA      ZERO
23   RLOOP     TD     INPUT
24            JEQ     RLOOP
25             RD     INPUT
26           COMP      ZERO
27            JEQ      EXIT
28           STCH  BUFFER,X
29            TIX    MAXLEN
30            JLT     RLOOP
31    EXIT    STX    LENGTH
32           RSUB
33   INPUT   BYTE     X'F1'
34  MAXLEN   WORD      4096

In [96]:
df = locationCounter.insert_LC(df)
# df.set_index('Location_counter' , inplace=True)
df

   Location_counter   label   inst     value
0                 0    COPY  START      1000
1              1000   FIRST    STL    RETADR
2              1003   CLOOP   JSUB     RDREC
3              1006            LDA    LENGTH
4              1009           COMP      ZERO
5              100c            JEQ    ENDFIL
6              100f           JSUB     WRREC
7              1012              J     CLOOP
8              1015  ENDFIL    LDA       EOF
9              1018            STA    BUFFER
10             101b            LDA     THREE
11             101e            STA    LENGTH
12             1021           JSUB     WRREC
13             1024            LDL    RETADR
14             1027           RSUB
15             102a     EOF   BYTE    C'EOF'
16             102d   THREE   WORD         3
17             1030    ZERO   WORD         0
18             1033  RETADR   RESW         1
19             1036  LENGTH   RESW         1
20             1039  BUFFER   RESB      4096
21             2039   RDREC    LDX      ZERO
22             203c            LDA      ZERO
23             203f   RLOOP     TD     INPUT
24             2042            JEQ     RLOOP
25             2045             RD     INPUT
26             2048           COMP      ZERO
27             204b            JEQ      EXIT
28             204e           STCH  BUFFER,X
29             2051            TIX    MAXLEN
30             2054            JLT     RLOOP
31             2057    EXIT    STX    LENGTH
32             205a           RSUB
33             205d   INPUT   BYTE     X'F1'
34             205e  MAXLEN   WORD      4096

In [97]:
df_symbolTable = pd.DataFrame(columns=['Location_counter', 'label'])
for i in df.index:
#         print(df['Location_counter'][i] + ' ' + df['label'][i])
    if df['label'][i] != '':
        row = {'Location_counter': df['Location_counter'][i], 'label': df['label'][i]}
        df_temp = pd.DataFrame([row])
        df_symbolTable = pd.concat([df_symbolTable , df_temp], axis = 0, ignore_index=True)
df_symbolTable.set_index('Location_counter' , inplace=True)
df_symbolTable

                   label
Location_counter
0                   COPY
1000               FIRST
1003               CLOOP
1015              ENDFIL
102a                 EOF
102d               THREE
1030                ZERO
1033              RETADR
1036              LENGTH
1039              BUFFER
2039               RDREC
203f               RLOOP
2057                EXIT
205d               INPUT
205e              MAXLEN