In [2]:
import pandas as pd

In [3]:
table = {
    "pn": [],
    "label": [],
    "inst": [],
    "rp": [],
    "comment": []
}

In [4]:
df = pd.DataFrame(table)

In [5]:
df

Empty DataFrame
Columns: [pn, label, inst, rp, comment]
Index: []

In [61]:
f = open('rsc/inputs/in.txt' , 'r')

In [64]:
txt = f.readline()
txt

AttributeError: 'str' object has no attribute 'readline'