In [1272]:
import pandas as pd
import locationCounter
import rsc.instructionSet as inst_set
from operator import *
import symbolTable
import rsc.instructionSet as inst

In [1273]:
labels = []
insts = []
values = []
objectCodeList = []

In [1274]:
data = {
    'label':labels,
    'inst':insts,
    'value':values
}

In [1275]:
f = open('rsc\\inputs\\input_program.txt','r')

In [1276]:
for line in f.readlines():
    temp = line.split('\t')
    if temp[1] == '.\n' or temp[1] == '.':
        continue
    else:
        labels.append(temp[1])
        insts.append(temp[2])
        t = temp[3]
        if t[len(t)-1:len(t)] == '\n':
            print('hereeee')
            values.append(t[0:-1])
        else:
            values.append(t)

hereeee
hereeee
hereeee
hereeee
hereeee

In [1277]:
df = pd.DataFrame(data)
pd.set_option('display.max_rows', 100)
df

     label   inst     value
0     COPY  START      1000
1    FIRST    STL    RETADR
2    CLOOP   JSUB     RDREC
3             LDA    LENGTH
4            COMP      ZERO
5             JEQ    ENDFIL
6            JSUB     WRREC
7               J     CLOOP
8   ENDFIL    LDA       EOF
9             STA    BUFFER
10            LDA     THREE
11            STA    LENGTH
12           JSUB     WRREC
13            LDL    RETADR
14           RSUB
15     EOF   BYTE    C'EOF'
16   THREE   WORD         3
17    ZERO   WORD         0
18  RETADR   RESW         1
19  LENGTH   RESW         1
20  BUFFER   RESB      4096
21   RDREC    LDX      ZERO
22            LDA      ZERO
23   RLOOP     TD     INPUT
24            JEQ     RLOOP
25             RD     INPUT
26           COMP      ZERO
27            JEQ      EXIT
28           STCH  BUFFER,X
29            TIX    MAXLEN
30            JLT     RLOOP
31    EXIT    STX    LENGTH
32           RSUB
33   INPUT   BYTE     X'F1'
34  MAXLEN   WORD      4096

In [1278]:
df = locationCounter.insert_LC(df)
# df.set_index('Location_counter' , inplace=True)
df

   LCounter   label   inst     value
0         0    COPY  START      1000
1      1000   FIRST    STL    RETADR
2      1003   CLOOP   JSUB     RDREC
3      1006            LDA    LENGTH
4      1009           COMP      ZERO
5      100c            JEQ    ENDFIL
6      100f           JSUB     WRREC
7      1012              J     CLOOP
8      1015  ENDFIL    LDA       EOF
9      1018            STA    BUFFER
10     101b            LDA     THREE
11     101e            STA    LENGTH
12     1021           JSUB     WRREC
13     1024            LDL    RETADR
14     1027           RSUB
15     102a     EOF   BYTE    C'EOF'
16     102d   THREE   WORD         3
17     1030    ZERO   WORD         0
18     1033  RETADR   RESW         1
19     1036  LENGTH   RESW         1
20     1039  BUFFER   RESB      4096
21     2039   RDREC    LDX      ZERO
22     203c            LDA      ZERO
23     203f   RLOOP     TD     INPUT
24     2042            JEQ     RLOOP
25     2045             RD     INPUT
26     2048           COMP      ZERO
27     204b            JEQ      EXIT
28     204e           STCH  BUFFER,X
29     2051            TIX    MAXLEN
30     2054            JLT     RLOOP
31     2057    EXIT    STX    LENGTH
32     205a           RSUB
33     205d   INPUT   BYTE     X'F1'
34     205e  MAXLEN   WORD      4096

In [1279]:
df_symbolTable = pd.DataFrame(columns=['LCounter', 'label'])
for i in df.index:
#         print(df['Location_counter'][i] + ' ' + df['label'][i])
    if df['label'][i] != '':
        row = {'LCounter': df['LCounter'][i], 'label': df['label'][i]}
        df_temp = pd.DataFrame([row])
        df_symbolTable = pd.concat([df_symbolTable , df_temp], axis = 0, ignore_index=True)
# df_symbolTable.set_index('Location_counter' , inplace=True)
df_symbolTable

   LCounter   label
0         0    COPY
1      1000   FIRST
2      1003   CLOOP
3      1015  ENDFIL
4      102a     EOF
5      102d   THREE
6      1030    ZERO
7      1033  RETADR
8      1036  LENGTH
9      1039  BUFFER
10     2039   RDREC
11     203f   RLOOP
12     2057    EXIT
13     205d   INPUT
14     205e  MAXLEN

In [1280]:
# objCode = []
# for i in range(0, len(df['LCounter'])):
#     if df.loc[i,'inst'] == 'WORD':
#         dec = int(str(df.loc[i,'value']))
#         hexa = format(dec, '02x')
#         print(hexa)
#         hexa = hexa.zfill((6 - len(hexa)) +len(hexa))
#         objCode.append(hexa)
#     elif df.loc[i,'inst']
#     else:
#         objCode.append(' ')
# df.insert(loc=4, column='obj_code', value = objCode)
# df

In [1281]:
def df_to_dict(df):
    temp = {}
    for i in range(len(df)):
        if(df.loc[i, 'label'] != ''):
            temp[df.loc[i, 'label']] = df.loc[i, 'LCounter']
    return temp
 

for i in range(len(df)):
    temp = df.loc[i, 'inst']
    if temp == 'RSUB':
        objectCodeList.append('4c0000')
     # for All instructions   
    elif inst.Mnemonic.__contains__(temp):
        #for LDL, LDX, LDA, STA
        if temp == 'LDL' or temp == 'LDX' or temp == 'LDA' or temp == 'STA':
            if(len(inst.Mnemonic[temp]) == 4):
                 objectCodeList.append('0' + inst.Mnemonic[temp][3:])
            else:
                objectCodeList.append('0' + inst.Mnemonic[temp][2:])
        # for normal instructions
        else:
            objectCodeList.append(inst.Mnemonic[temp][2:])
            
    elif temp == 'WORD':
        dec = int(df.loc[i,'value'])
        hexa = format(dec, '02x')
        hexa = hexa.zfill((6 - len(hexa)) +len(hexa))
        objectCodeList.append(hexa)
        
    elif temp == 'BYTE':
        ## value begin with X
        val = df.loc[i, 'value']
        if val[0] == 'X':
            ob_code = val[2:len(val)-1]
            ob_code = ob_code.zfill((6 - len(ob_code)) +len(ob_code))
            objectCodeList.append(ob_code)
        ## value begin with C
        else:
            #convert ascii to hexa
            txt = val[2:len(val) -1]
            ob_code = txt.encode('utf-8').hex().upper()
            objectCodeList.append(ob_code)
            
    else:
        objectCodeList.append(' ')

        
empty_dict = df_to_dict(df)

for i in range(len(df)):
    temp = df.loc[i, 'value']
    if temp.isnumeric():
        objectCodeList[i] += ''
    elif empty_dict.__contains__(temp): 
            objectCodeList[i] += empty_dict[temp]

    

df.insert(loc=4, column='objCode', value=objectCodeList)
df

   LCounter   label   inst     value objCode
0         0    COPY  START      1000
1      1000   FIRST    STL    RETADR  141033
2      1003   CLOOP   JSUB     RDREC  482039
3      1006            LDA    LENGTH  001036
4      1009           COMP      ZERO  281030
5      100c            JEQ    ENDFIL  301015
6      100f           JSUB     WRREC      48
7      1012              J     CLOOP  3c1003
8      1015  ENDFIL    LDA       EOF  00102a
9      1018            STA    BUFFER  0c1039
10     101b            LDA     THREE  00102d
11     101e            STA    LENGTH  0c1036
12     1021           JSUB     WRREC      48
13     1024            LDL    RETADR  081033
14     1027           RSUB            4c0000
15     102a     EOF   BYTE    C'EOF'  454F46
16     102d   THREE   WORD         3  000003
17     1030    ZERO   WORD         0  000000
18     1033  RETADR   RESW         1
19     1036  LENGTH   RESW         1
20     1039  BUFFER   RESB      4096
21     2039   RDREC    LDX      ZERO  041030
22     203c            LDA      ZERO  001030
23     203f   RLOOP     TD     INPUT  e0205d
24     2042            JEQ     RLOOP  30203f
25     2045             RD     INPUT  d8205d
26     2048           COMP      ZERO  281030
27     204b            JEQ      EXIT  302057
28     204e           STCH  BUFFER,X      54
29     2051            TIX    MAXLEN  2c205e
30     2054            JLT     RLOOP  38203f
31     2057    EXIT    STX    LENGTH  101036
32     205a           RSUB            4c0000
33     205d   INPUT   BYTE     X'F1'  0000F1
34     205e  MAXLEN   WORD      4096  001000